@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

// *::after,
// *::before,
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

h1,
h2,
h3 {
  font-family: "Caveat Brush";
}
body {
  background-color: #ffd3c4;
  font-family: "Roboto", sans-serif;
}
.app {
  width: 80%;
  background: white;
  box-shadow: 1px 1px 8px #888888;
  margin: auto;
}
